<ion-view hide-nav-bar="true">
  <ion-content class="splash branding">
    <div class="body">
    <div class="tagline" style="font-size: 24px;margin-top: 20px;">Panduan</div>
      <img src="img/input.png">
      <div class="tagline" style="margin-left: 10px;">1. Pilih node awal dan akhir pada spinner</div>
      <img style="height: 100px; width: 100px;" src="img/Maps-Map-icon.png">
      <div class="tagline">2. Untuk mendapatkan hasil pencarian rute pada tampilan Google Maps</div>
      <img style="height: 100px; width: 100px;" src="img/direction.png">
      <div class="tagline">3. Untuk mendapatkan hasil pencarian rute pada tampilan Infografik</div>
    </div>
    
    </div>
  </ion-content>
</ion-view>
