<ion-view view-title="Sistem Pencarian Rute Optimum Taksi menggunakan Particle Swarm Optimization">
<map on-create="mapCreated(map)"></map>
<button ng-click="getValue(Value, Value2)" id="fab-profile" class="button button-fab button-fab-bottom-left button-positive"><i class="icon ion-map"></i></button>

<button ng-click="go(Value, Value2)" id="fab-profile" class="button button-fab button-fab-bottom-right button-light"><i class="icon ion-model-s" style="color: rgb(52,108,210);"></i><span></span></button>
<ion-footer-bar class="item-input-inset" style="padding: 0;">
  <label class="item item-input item-select">
    <div class="input-label">
      Start :
    </div>
    <select ng-model="Value">
      <option ng-repeat="operator in location"
            value="{{operator.id}}">{{operator.name}}</option>
    </select>
  </label>
  <label class="item item-input item-select">
    <div class="input-label">
      Finish :
    </div>
    <select ng-model="Value2">
      <option ng-repeat="operator in location"
            value="{{operator.id}}">{{operator.name}}</option>
    </select>
  </label>
 
    <!--   <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate"></a>
    <a ng-click="removeMarker()" class="button button-icon icon ion-ionic"></a> -->
</ion-footer-bar>
</ion-view>