<ion-view view-title="Rute Perjalan">
<ion-content ng-class="{expanded:isExpanded}">
    <ion-list class="list-inset">
      <ion-item class="item-thumbnail-left item-icon-right item-text-wrap card"  ng-repeat="item in loca"  href="#/tab/street/{{item.ltd}}/{{item.lgd}}/{{item.node_label}}">
           <img ng-src="img/1.png"
        alt="{{ item.name }} Photo">
      <div class="numbering">{{item.node_id}}</div>
      <h2>{{item.node_label}}</h2>
      <h3>Latitude: {{item.ltd}}</h3>
      <h3>Longtitue: {{item.lgd}}</h3>
      <p>{{item.bio | limitTo: 100}}
      {{ item.bio.length > 150 ? '&hellip;' : '' }}</p>
      <i class="ion-arrow-down-a"></i> 
      </ion-item>

      
    </ion-list>
    
  </ion-content>
  <ion-footer-bar class="item-input-inset">
  <div><a ng-href="#/tab/list"><button class="button button-icon padding-left"><i class="ion-chevron-left"></i></button></a></div>
  </ion-footer-bar>
</ion-view>

