<ion-view view-title="Nodes">
  <ion-content ng-class="{expanded:isExpanded}">
   <map id="mapMarker" on-create="AddMarker()" style="width: 50%; height: 100%;float:left"></map>
   <street id="stretview" on-create="streetView()" style="width: 50%; height: 100%;float:left"></street>
  </ion-content>
  <ion-footer-bar class="item-input-inset">

   <div><a ng-click='back()'><button class="button button-icon padding-left"><i class="ion-chevron-left"></i></button></a></div>
  </ion-footer-bar>
</ion-view>

